{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}


<table align="center" bgcolor="#FFDAB9" border="5" bordercolor = "#8B4513" border-spacing = "20">
<td align="center">
		
<em> <font size = "10"> Адресная книга </font></em><hr>
<br>
 <font size = "6"> 	Пользователю доступны 4 кнопки перехода: "Главная" (текущая),"Все адреса","Создать" и "Админ".<br>
Во вкладке "Все адреса" перечислены все доступные адреса в книге, отсортированные по ID. При выборе нужного человека открывается страничка с развернутой информацией, включающей в себя: фамилию, имя, страну, город, улицу и номер телефона. Также ниже выведены изображения, а также доступно добавление изображения к записи. <br>
Вкладка "Создать" содержит форму для добавления человека в БД и на сайт. <br>
Вкладка "Админ" перенаправляет на страничку администратора, которому доступны добавление, редактирование, удаление записей из адресной книги. В случае удаления записи будут удалены также все изображения, привязанные к этой записи. <br>
Все данные хранятся в БД, включая изображения, для которых была создана вспомогательная таблица. Она имеет привязку к основной таблице с данными (связь 1 ко многим). <br>
Посетителю сайта доступен просмотр книги адресов, добавление адресов и изображений к ним. Адресная книга подразумевает просмотр данных (при необходимости добавление), но не удаление или редактирование (не соц. сеть же) случайными людьми, поэтому эти функции доступны только администратору. Для входа в кабинет Администратора следует использовать следующие параметры: <br>
<font size = "9"> Login: admin <br>
				  Password: qwerty<br>

</font>
При добавлении записи в БД создается уникальный URL адрес по которому будет доступна развернутая информация. Все изменения подвержены миграциям. <br> <br>
© 2020 vladfox2000 Сorporation
</font>
</td> 
</table>

{% endblock %}